{% extends "base.html" %}{% load static from staticfiles %}

{% block content %}
    <h3>Websocket Example</h3>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="panel-heading">
                        <h3 class="panel-title">Resultado</h3>
                    </div>
                    <div class="panel-body">
                        <p id="resultado-task"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_resources %}
    <input id="facility" type="hidden" value="{{facility}}?subscribe-broadcast">
    <input id="WEBSOCKET_URI" type="hidden" value="{{ WEBSOCKET_URI }}">
    <script type="text/javascript" src="{% static 'js/ws4redis.js' %}"></script>
    <script src="{% static 'assets/js/websocket-celery.js' %}" type="text/javascript"></script>
    <script>

        function task_custom_done(data){
            let task_result = $("#resultado-task");
            task_result.html(data.mensaje);
            $(".loading-gif, .jobstatic-panel").hide();
        }
    </script>
{% endblock %}